<div class="row">
	<h1>Github!</h1>
</div>

<div class="row">
	<div class="col-lg-6">
		<div class="input-group">
			<input type="text" ng-model="searchParameters" class="form-control" placeholder="Search for git user">
			<span class="input-group-addon" ng-click="searchUser(searchParameters)" id="basic-addon2">Search</span>
		</div>
  	</div><!-- /.col-lg-6 -->
</div>
<br />
<!-- search result -->
<div class="row" ng-if="showSearchResult">
	 <div class="col-lg-12">
		  <div>
			  <h2> {{user.login}}</h2>
			  <ul class="list-group" style="color:black;">
				<li class="list-group-item">Real name: {{user.name}}</li>
				<li class="list-group-item">Created: {{user.created_at}}</li>
				</ul>
		  </div>
	</div>
</div>
<!-- /search result -->